.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    padding: 1.5rem 1rem;
    border: 0.05rem solid black;
    background-color: #eee;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a {
        text-decoration: none;
        letter-spacing: 0.05rem;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }
    button {
        display: inline-block;
        padding: .5rem;
        margin-right: .5rem;
        width: min-content;
        background-color: #446688;
        border: none;
        color: #fff;
        &:hover {
            background-color: #88aadd;
        }
    }
}

.form {
    padding: 1.5rem 1rem;
    background-color: #eee;
    border: 0.05rem solid black;
    input,
    button {
        display: block;
        margin-bottom: 0.75rem;
        width: 100%;
        padding: 0.5rem;
    }
    input[type='submit'],
    button {
        display: inline-block;
        margin-right: 1rem;
        width: min-content;
        background-color: #446688;
        border: none;
        color: #fff;
        &:hover {
            background-color: #88aadd;
        }
    }
}
