@import '../../scss/shared';

$dark: $global-dark;
$light: $global-light;
$font: $global-font;

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $dark;
    color: $light;
    font-family: $font;
    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        letter-spacing: .05rem;
        &:not(:last-of-type) {
            margin-right: .5rem;
        }
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}
